{% extends "base.html" %}
{% load user_filters %}
{% load static %}

{% block title %}Password reset was successful
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Password reset was successful
</h1>
</div>

<div class="form-container">
    <p class="form__info-text">  
        We have sent you instructions on how to set a new password to the email address you provided (if we have one in our database). You should receive it soon.
        <br><br>
        If you do not receive the email, please make sure you have entered the email address you registered with and check your spam folder.
    </p>

</div>

{% endblock content %}
